{% extends 'base.html' %} {% load static %} {% block title %}{{block.super}}
Course {% endblock %} {% block content %}
<h1>Course 1 {{name}}</h1>
<button onclick="showAlert()">Click me</button>
<img src="{% static 'images/tree.jpg' %}" />
<img src="{% get_static_prefix %}images/tree.jpg" />
<img src="{% get_static_prefix %}images/tree.jpg" />
<img src="{% get_static_prefix %}images/tree.jpg" />
{% if data %}
<h1>show data</h1>
{% for course in data %} {{course.id}} {{course.name}} {% endfor %} {% else %}
<h1>No data</h1>
{% endif %}
<script src="{% static 'js/all.js'%}"></script>
{% endblock %}
