<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    welcome {{name}} !
    <h1>Profile</h1>
    <a href="{% url 'logout' %}">logout</a>
    <div><a href="{% url 'change_pass' %}">Change Password</a></div>

    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="save" />
    </form>

</body>

</html>